<!doctype html>
<html lang="ru">

<!-- Применим к шаблону about.html из предыдущей лекции функцию url_for()
 для создания необходимый URL адресов -->

<head>
    <meta charset="utf-8">

    <!--    <link rel="stylesheet" href="/static/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <title>{{ title }}</title>
        </head>
        <body>
        <h1 class="text-monospace">Привет, меня зовут {{ name }}</h1>

    <!--    <img src="/static/image/photo.jpg" alt="Моё фото" width="300">-->
    <img src="{{ url_for('static', filename='image/photo.jpg') }}" alt="Моё фото" width="300">


            <p class="text-body text-justify">Стена текста!</p>
            <p class="alert-dark">Все права защищены &copy;</p>

<!--<script src="/static/js/bootstrap.bundle.min.js"></script>-->
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</body>
</html>