<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>Главная</title>
</head>
<body>
<h1 class="text-monospace">Привет, меня зовут {{name}}</h1>
<img src="/static/image/photo.jpg" alt="Моё фото" width="300">
<p class="text-body text-justify">Это блок текста, который, в случае заполнения по ширине
    на странице браузера, может переходить на следующие строки.</p>
<p class="alert-dark">Все права защищены &copy;</p>
</body>
</html>