{% extends 'base.html' %}

{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <p>Это блок текста, который, в случае заполнения по ширине
            на странице браузера, может переходить на следующие строки.</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <p> Это блок текста, который, в случае заполнения по ширине
            на странице браузера, может переходить на следующие строки. </p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <p>Это блок текста, который, в случае заполнения по ширине
            на странице браузера, может переходить на следующие строки.</p>
    </div>
</div>

{% endblock %}
