{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block url9 %}
<a href="{{ url_for('index') }}">Нажми меня</a>
{% endblock %}

{% block task9 %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert {{ category }}">
                    Flash сообщение({{category}}): {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock %}
