{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block url2 %}
<a href="{{ url_for('index') }}">Нажми меня</a>
{% endblock %}

{% block task2 %}
        <form method=post enctype=multipart/form-data>
            <label>Загрузите изображение:</label>
            <input type=file name=file>
            <input type=submit value=Загрузить>
        </form>
    {% if image %}
        <img id="task2_image" src="{{url_for('static', filename='uploads/'+image)}}" alt="uploaded image">
    {% endif %}
{% endblock %}
