{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block url3 %}
<a href="{{ url_for('index') }}">Нажми меня</a>
{% endblock %}

{% block task3 %}
    <form class="form_auth_style" action="#" method="post">
      <label>Логин:</label>
      <input type="text" name="auth_login" placeholder="Введите логин" required >
      <label>Пароль:</label>
      <input type="password" name="auth_password" placeholder="Введите пароль" required >
      <button class="form_auth_button" type="submit" name="form_auth_submit">Отправить</button>
    </form>

    {% if message %}
        <div class="info">
            <a class="info">{{message}}</a>
        </div>
    {% endif %}

{% endblock %}
