<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="row">
        <h1 class="col-12 text-monospace text-center">Новости</h1>
        {% for i in news %}
            <div class="col-12 col-md-6 col-lg-4">
                <h2>{{ i.title }}</h2>
                <p>{{ i.info }}</p>
                <p>{{ i.date }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>