{% extends 'base.html' %}

{% block title %}
Контакты
{% endblock %}

{% block content %}
<h2>Студенты</h2>
<h3>Наполнение из 'students_table_task08.html'</h3>

<div>

<table class="students_table">
<caption>Список студентов</caption>
<!--<colgroup>-->
<!--    <col span="4" style="background:#D9ECF0">-->
<!--    <col style="background-color:#EAF2F8">-->
<!--</colgroup>-->
    <tr>
        <th>{{titles.firstname}}</th>
        <th>{{titles.lastname}}</th>
        <th>{{titles.age}}</th>
        <th>{{titles.avg_score}}</th>
    </tr>

    {% for student in students %}
    <tr>
        <td>{{student.firstname}}</td>
        <td>{{student.lastname}}</td>
        <td>{{student.age}}</td>
        <td>{{student.avg_score}}</td>
    </tr>
    {% endfor %}

</table>
</div>
{% endblock %}