<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/students_table.css">
    <title>Students</title>
</head>
<body>


<table>
<caption>Список студентов</caption>
<!--<colgroup>-->
<!--    <col span="4" style="background:#D9ECF0">-->
<!--    <col style="background-color:#EAF2F8">-->
<!--</colgroup>-->
    <tr>
        <th>{{titles.firstname}}</th>
        <th>{{titles.lastname}}</th>
        <th>{{titles.age}}</th>
        <th>{{titles.avg_score}}</th>
    </tr>

    {% for student in students %}
    <tr>
        <td>{{student.firstname}}</td>
        <td>{{student.lastname}}</td>
        <td>{{student.age}}</td>
        <td>{{student.avg_score}}</td>
    </tr>
    {% endfor %}

</table>



</body>
</html>