{% extends "base.html" %}

{% block content %}

<!-- Блок вывода flash сообщений -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="d-flex justify-content-center alert {{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<!-- Контейнер с формой входа -->
<div class="container d-flex justify-content-center">
    <form method="POST" action="{{ url_for('login') }}">
        <h2 class="fw-semibold text-center mt-5">Форма входа</h2>
        {{ form.csrf_token }}
        {% for field in form if field.name != 'csrf_token' %}
        <div class="row fw-bolder text-left text-bg-info pb-1">
            {% if field.name != 'submit' and field.name != 'csrf_token' %}
                {{ field.label }}<br>
                {{ field }}
            {% elif field.name == 'submit' %}
                <div class="row pt-2"></div>
                {{ field }}
            {% endif %}
            {% if field.errors %}
            <ul class="alert alert-danger justify-content-center">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endfor %}

        <!-- Кнопка перехода -->
        <div class="row pt-3 justify-content-center">Ещё нет учётной записи? Жмите</div>
        <div class="row justify-content-center">
            <a href="{{ url_for('registration') }}" class="btn btn-secondary mt-1">Регистрация</a>
        </div>
    </form>
</div>
{% endblock %}
